{
  "presets": [
    "@babel/preset-react"
    /*["@babel/preset-env", {
      "useBuiltIns": "usage",
      "corejs": 3,
      "modules": false,
    }],*/
  ],
  "plugins": [
    "babel-plugin-styled-components",
    "@babel/plugin-syntax-dynamic-import", // para multiples imports
    "@babel/plugin-proposal-optional-chaining" // para '?'
    // "@babel/plugin-proposal-class-properties"
  ]
}
